name: stride
description: Task management tool that synchronizes with Git.
publish_to: "none"
homepage: https://github.com/stride-tasks/stride
repository: https://github.com/stride-tasks/stride

version: 0.0.1+1

environment:
  sdk: ">=3.8.1 <4.0.0"
  flutter: ">=3.32.8"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  stride_flutter_bridge:
    path: rust_builder
  flutter_rust_bridge: 2.11.1
  uuid: ^4.5.1
  path: ^1.9.0
  path_provider: ^2.1.5
  bloc: ^9.0.1
  flutter_bloc: ^9.1.1
  freezed_annotation: ^3.1.0
  font_awesome_flutter: ^10.10.0
  file_picker: ^10.3.3
  qr_flutter: ^4.1.0
  url_launcher: ^6.3.2
  intersperse: ^2.0.0
  http: ^1.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

  flutter_lints: ^6.0.0
  mocktail: ^1.0.4

  freezed: ^3.2.0
  build_runner: ^2.8.0

  flutter_launcher_icons: ^0.14.4
  flutter_native_splash: ^2.4.6

flutter:
  uses-material-design: true

# https://pub.dev/packages/flutter_launcher_icons
flutter_launcher_icons:
  image_path: "assets/icon/logo.png"
  android: true
  adaptive_icon_background: "#282828"
  adaptive_icon_foreground: "assets/icon/logo_foreground.png"
  min_sdk_android: 16 # android min sdk min:16, default 21
  ios: true
  remove_alpha_ios: true
  windows:
    generate: true
    icon_size: 256
  macos:
    generate: true

# https://pub.dev/packages/flutter_native_splash
flutter_native_splash:
  color: "#282828"
  image: assets/icon/logo.png
  web: false

flutter_rust_bridge:
  rust_input: crate::api,stride_core,stride_backend_git::known_hosts,stride_backend_git::encryption_key,stride_plugin_manager::manifest
  rust_root: ../crates/flutter_bridge/
  dart_output: lib/bridge
  web: false
  dart_preamble: |
    // ignore_for_file: avoid_unused_constructor_parameters
    // ignore_for_file: avoid_dynamic_calls
    // ignore_for_file: avoid_equals_and_hash_code_on_mutable_classes
    // ignore_for_file: argument_type_not_assignable
    // ignore_for_file: inference_failure_on_instance_creation
